<div class="flex flex-col items-center justify-center">
    
    <h1 class="text-3xl mb-4 font-bold">Transcribe the content</h1>

    <p class="mb-4 text-center w-sm">Please provide the URL or upload the file containing the content you want to
        transcribe.</p>

    <div class="w-xs border border-gray-300 p-2 mb-4 rounded flex items-center justify-around">
        <input [(ngModel)]="url" type="text" placeholder="Enter url of the content"
            class="w-5/6 outline-0 pr-1 border-r" />

        <ng-icon name="matFolder" class="text-center text-2xl "></ng-icon>
    </div>

    <div (click)="transcribeAudio()"
        class="hover:bg-gray-200  text-blue-400 p-2 rounded w-xs flex justify-center"
        [ngClass]="isContentInfoLoading ? 'bg-gray-200 cursor-not-allowed' : 'bg-white cursor-pointer'">
        @if(!isContentInfoLoading){
            <p>Transcribe</p>
        }
        @else{
            <app-loading></app-loading>
        }
    </div>

</div>