<div class=" text-white h-screen flex flex-col items-center justify-center transition duration-300" 
     [ngClass]="backgroundColor">
     
     <app-welcome id="welcome" class="component" (startInstallation)="startInstallation()"></app-welcome>
     <app-folder-selection id="folderSelection" class="component" (folderSelectedEvent)="startInstallation()"></app-folder-selection>
     <app-gpt-token id="gptToken" class="component" (gptTokenEnteredEvent)="startInstallation()"></app-gpt-token>
     <app-ffmpeg-installation id="ffmpegInstallation" class="component" (ffmpegInstallationCompleted)="startInstallation()"></app-ffmpeg-installation>
     <app-installation-completed id="installationComplete" class="component"></app-installation-completed>
     <app-no-internet id="noInternet" class="component" (retry)="startInstallation()"></app-no-internet>
     <app-loading id="loading" class="component"></app-loading>

</div>