<div class=" text-white h-screen flex flex-col items-center justify-center transition duration-300" 
     [ngClass]="backgroundColor">

    @switch (currentView) {
        @case ('welcome'){
            <app-welcome (startInstallation)="startInstallation()"></app-welcome>
        }
        @case ('folderSelection'){
            <app-folder-selection (folderSelectedEvent)="startInstallation()"></app-folder-selection>
        }
        @case ('gptToken') {
            <app-gpt-token (gptTokenEnteredEvent)="startInstallation()"></app-gpt-token>
        }
        @case ('ffmpegInstallation') {
            <app-ffmpeg-installation (ffmpegInstallationCompleted)="startInstallation()"></app-ffmpeg-installation>
        }
        @case ('installationComplete') {
            <app-installation-completed></app-installation-completed>
        }
        @case ('noInternet'){
            <app-no-internet (retry)="startInstallation()"></app-no-internet>
        }
        @case ('loading') {
            <app-loading></app-loading>
        }
        @default{
            <app-welcome></app-welcome>
        }
    }


</div>