<div class=" text-white h-screen flex flex-col items-center justify-center" 
     [ngClass]="backgroundColor">

    @switch (currentView) {
        @case ('welcome'){
            <app-welcome (startInstallation)="startInstallation()"></app-welcome>
        }
        @case ('folderSelection'){
            <app-folder-selection></app-folder-selection>
        }
        @case ('gptToken') {
            <app-gpt-token></app-gpt-token>
        }
        @case ('noInternet'){
            <app-no-internet (retry)="startInstallation()"></app-no-internet>
        }
        @case ('loading') {
            <app-loading></app-loading>
        }
        @default{
            <app-welcome></app-welcome>
        }
    }


</div>